:root {
  --monospace-font: monospace;
}

/* Navigation bar */
.customNav {
  position: fixed;
  width: 100%;
  background: url("../images/transparency.png");
  background-color: transparent !important;
  background-size: cover;
  z-index: 10;
}
.navbar-nav {
  margin-left: auto;
  margin-right: 0 !important;
}

/* Navigation links hover effect */
.navbar-nav a:hover {
  color: #00fc22 !important;
  text-decoration: none; /* Optional: Remove underline on hover */
}

.navbar-brand img {
  padding: 0 15px; /* Keep consistent padding values for both sides */
  width: 65px;
}
.nav-item {
  margin: 0px 15px;
}

/* Navigation links */
.customNav a {
  color: white !important;
  font-size: 20px;
}

/*Jumbotron styling */
.jumbotron,
.skills,
.about-contact-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 100%; /* Adjust the max-width as needed */
  margin: 0 auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  font-family: var(--monospace-font);
}

.jumbotron{
  background-color: lightblue;
  height: 500px;
}

.content-wrapper { /*content wrapper for the hero section*/
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.profile-picture {
  max-width: 200px; /* Profile pic sizing */
  border-radius: 50%; 
}
.display-4{
  margin-left: 0px;
}

/* Additional styling for the text content */
.text-content {
  flex-grow: 1;
  margin: 0 0 0 55px; /* Adjust the margin as needed */
}
/*styling for project headers*/
.projects-head, h2{
  text-align: center;
  margin: 20px 0 20px 0px;
  font-family: var(--monospace-font);
}

/*styling for projects card container*/
.cardContainer {
  margin-top: 20px;
  text-align: center;
}

/*card styling*/
.card{
  background-clip: border-box;
  border: 7px solid rgba(0,0,0,.125);
  border-radius: 0.25rem;
  font-family: var(--monospace-font);
  height: 100%;
}
/*contains the description and project heading*/
.card body{
  flex: 1 1 auto;
  padding: var(--bs-card-spacer-y) var(--bs-card-spacer-x);
}
/*card image styling*/
.card-img-top {
  width: 100%;
  border-top-left-radius: calc(0.25rem - 1px);
  border-top-right-radius: calc(0.25rem - 1px);
}

.skills{
  margin-top: 30px;
  background-color: #c0ffc0;
  height: 600px;
  font-family: monospace;
}

.skills img{
  max-width: 200px;
}

.about-contact-container{
  height: 200px;
  margin-top: 30px;
  background-color: rgb(255, 255, 182);
}
