.navbar{
    background-color: rgb(228, 230, 132);
}

.navbar-expand-lg .navbar-collapse {
    justify-content: right;
}

.navbar a{
    color: blueviolet;
    font-size: 25px;
}

/* Apply styles to the navigation links */
.navbar-nav .nav-item a {
    transition: color 0.3s ease; /* Smooth transition for color changes */
  }
  
  /* Change text color on hover */
  .navbar-nav .nav-item a:hover {
    color: #007bff; /* Text color when hovering over the link */
  }
  
  /* Change background color on hover for active link */
  .navbar-nav .nav-item a.active:hover {
    background-color: #007bff; /* Background color when hovering over the active link */
    border-radius: 15%;
    color: #fff; /* Text color for the active link on hover */
  }

/*Jumbotron styling */
.jumbotron {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 100%; /* Adjust the max-width as needed */
  margin: 0 auto;
  background-color: lightblue;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.content-wrapper { 
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.profile-picture {
  max-width: 200px; /* Profile pic sizing */
  border-radius: 50%; 
}
.display-4{
  margin-left: 0px;
}

/* Additional styling for the text content */
.text-content {
  flex-grow: 1;
  margin-left: 20px; /* Adjust the margin as needed */
}
